/* all badge colors corresponding to UV index */
.badge-green{
    color: white;
    background-color: green;
}
.badge-yellow{
    color: black;
    background-color: yellow;
}
.badge-orange{
    color: white;
    background-color: orange;
}
.badge-red{
    color: white;
    background-color: red;
}
.badge-purple{
    color: white;
    background-color: purple;
}

/* page heading */
#page-heading{
    background-color: #323232; 
    color: white; 
    width: 100%; 
    padding:10px; 
    text-align: center;
}

/* added padding to bottom of page */
body{
    padding-bottom: 10px;
}

/* getting 5 day forecast boxes to look right */
.forecast{
    width: 165px;
    float: left;
    margin-right: 50px;
    padding: 15px;
}

/* basic img styling */
img{
    height: 100px;
    width: 100px;
    text-align: center;
}

/* specific img styling to forecast */
#todayforecast img {
    height: 1.5em;
    width: auto;
}
  
/* styling for h2 in forecast boxes */
#todayforecast h2 {
    position: relative;
}

/* sets padding in the main box */
#today{
    padding: 25px;
}


/* for search btn */
form.searchform input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}
  
form.searchform button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}
  
form.searchform button:hover {
    background: #0b7dda;
}
  
form.searchform::after {
    content: "";
    clear: both;
    display: table;
}
