.badge-green{
    color: white;
    background-color: green;
}
.badge-yellow{
    color: black;
    background-color: yellow;
}
.badge-orange{
    color: white;
    background-color: orange;
}
.badge-red{
    color: white;
    background-color: red;
}
.badge-purple{
    color: white;
    background-color: purple;
}
body{
    padding-bottom: 10px;
}
.forecast{
    width: 165px;
    float: left;
    /* margin-top: 10px; */
    margin-right: 50px;
    padding: 15px;
}

img{
    height: 100px;
    width: 100px;
    text-align: center;
}

#todayforecast img {
    
    
    height: 1.5em;
    width: auto;
    
}
  
#todayforecast h2 {
    position: relative;
}

#today{
    padding: 25px;
}


/* for search btn */
form.searchform input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}
  
form.searchform button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}
  
form.searchform button:hover {
    background: #0b7dda;
}
  
form.searchform::after {
    content: "";
    clear: both;
    display: table;
}
